#dropreception {
    display: none;
}

#dropreception.dropacceptable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
    display: block;
    background: rgb(122, 122, 255);
    border: 6px solid lightblue;
    opacity: 0.5;
}

#application {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.genome-maps #genome-maps {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.genome-maps #genome-maps #gm-header-widget {
}

.genome-maps #genome-maps #gm-genome-viewer {
    position: absolute;
    top: 0;
    bottom: 0;
}

.genome-maps #genome-viewer > div {
    position: relative;
    height: 100%;
}

.genome-maps #gm-genome-viewer div.ocb-gv-navigation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150%;
    overflow: hidden;
}

.genome-maps #gm-genome-viewer div.ocb-gv-navigation ul.dropdown-menu {
    max-height: 350px;
    overflow-y: auto;
}

.genome-maps #gm-genome-viewer div.ocb-gv-center {
    position: absolute;
    top: 40px;
    bottom: 30px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.genome-maps #gm-genome-viewer div.ocb-gv-status {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 26px;
    overflow: hidden;
    border: 1px solid lightgrey;
    z-index: 50;
    background-color: #f5f5f5;
}
